#app {
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  justify-content: center;
}

.image-wrapper {
  max-width: 900px;
  height: min-content;
  position: relative;
}

.edit-controls-overlay {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  left: 2rem;
  display: flex;
  justify-content: right;
}