#app {
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  justify-content: center;
}

.image-wrapper {
  max-width: 900px;
  height: min-content;
  position: relative;
}

.edit-controls-overlay {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  left: 2rem;
  display: flex;
  justify-content: right;
}

.popup {
  position: absolute;
  right: 2rem;
  border-radius: .4rem;
}

.list-item:not(:first-child) {
  margin-top: .5rem;
}

.list-item {
  padding: .4rem .8rem;
  border-radius: .2rem;
  display: flex;
}

.list-item:hover {
  background-color: lightgray;
}

.button {
  display: flex;
  gap: .4rem;
  width: 100%;
}


